<!-- SITE TITTLE -->
<% provide(:title, @taxon.name) %>
<%= render "shared/light_section", name: @taxon.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render "categories_section", taxonomies: @taxonomies %>
        <%= render "colors_section" %>
        <%= render "size_section" %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render "swaps" %>
        <%= render "products_image", products: @products %>
      </div>
    </div>
  </div>
</section>
<%= render "high_brand_logo" %>
