<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render "layouts/head" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
    <%= render "layouts/login_modal"%>
    <%= render "layouts/sign_up_modal"%>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
